@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  margin: 0;
}
.mainContainer {
  display: flex;
}

.navbar {
  width: 25%;
  height: 100vh;
  background-color: rgb(149, 158, 158);
}
.navbar nav {
  padding: 4.5rem;
}

.navbar nav li {
  list-style: none;
  font-size: 3rem;
  padding: 3rem 0;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}
a:hover {
  color: azure;
}
.contact {
  bottom: 0;
  position: fixed;
  border-top: 0.2rem solid black;
  font-size:1.5rem
}

.main {
    background-color: #f2f2f2;
    background-image: url("../img/background.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .experience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
  }
  .tile {
    border: 0.1rem solid black;
    padding: 1rem;
    background-color: #f1c40e;
    color: white;
    border: none;
    height: 20vw;
  }
  .logo {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
  }
  .heading {
    text-align: center;
  }
  .logo1 {
    height: 10rem;
  }


  @media (max-width: 1250px) {
    html{
      font-size:52.5%
    }
   
  }
  @media (max-width: 860px) {
    html{
      font-size:32.5%
    }
  }